<!DOCTYPE html>
<html>
    <style>
        form {
            margin: auto;
            width: 35%;
        }

        .result {
            margin: auto;
            width: 35%;
            border: 1px solid #ccc;
        }
    </style>

    <head>
        <title>
            Essay Grader
        </title>
    </head>

    <form action="{{ url_for('main') }}" method="POST">

        <fieldset>
            <legend> INPUT ESSAY :</legend>

            <textarea name='e' ></textarea>
            <br><br>
            <input type="submit">

        </fieldset>
    </form>
<br>
<br>

<div class = "result" align="center">

    {% if result %}
        Predicted Score :
        <p style='font-size: 50px;'> {{ result }} </p>
    {% endif %}
    
</div>

</html>